@charset "utf-8";

.dai-shell-title, .dai-shell-body,
.dai-head,       .dai-head-logo,     .dai-head-button,
.dai-main,       .dai-main-content,
.dai-menu,       .dai-menu-title,    .dai-menu-body,
.dai-message,    .dai-message-title, .dai-message-body {
    position: absolute;
}

/* メニュー、メッセージなどのツールボックス */
.dai-shell-title {
    padding-left: 10px;
    left: 0;
    right: 0;
    height: 25px;

    background-color: #dddddd;
    border-bottom: solid 1px #dddddd;
}

.dai-shell-title h1 {
    margin: 0;
    padding: 0;
    color: #666666;
    font-size: 16px;
}

.dai-shell-title h1 i {
    width: 16px;
    margin-right: 5px;
    color: #888888;
}

.dai-shell-body {
    padding-top: 10px;
    padding-left: 7px;
    top: 26px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ヘッダ */
.dai-head {
    top:  0;
    left: 0;
    right: 0;
    height: 40px;
}

.dai-head-logo {
    top: 4px;
    left: 4px;
    height: 32px;
    width: 300px;

    line-height: 32px;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.dai-head-button {
    padding: 5px 12px;
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;
}

.dai-head-button_menu {
    top: 4px;
    right: 4px;
}

.dai-head-button_menu:hover {
    background-color: #eeeeee;
}


.dai-head-button_message {
    top: 4px;
    right: 54px;
}

.dai-head-button_message:hover {
    background-color: #eeeeee;
}

/* メイン */
.dai-main {
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}

.dai-main-content {
    top: 0;
    bottom: 0;
    width: 100%;
}

/* メニュー */
.dai-menu {
    display: none;

    top: 40px;
    bottom: 0;
    right: 0;
    width: 300px;

    background-color: white;
    border: solid 1px #aaaaaa;

    z-index: 2;
}

.dai-menu-body h1 {
    margin-top: 0;
    margin-bottom: 10px;

    border-bottom: solid 1px #dddddd;
    color: #666666;
    font-size: 16px;
}

.dai-menu-body ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}

.dai-menu-body li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

.dai-menu-body li a:hover {
    background-color: #eeeeee;
}

.dai-menu-body i {
    margin-right: 5px;
    color: #888888;
}

/* メッセージ */
.dai-message {
    display: none;

    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;

    background-color: white;
    border: solid 1px #aaaaaa;

    z-index: 1;
}

.dai-message-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dai-message-body li {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

.dai-message-body li:hover {
    background-color: #eeeeee;
}

.dai-message-body i {
    width: 14px;
    margin-right: 5px;
    color: #888888;
    text-align: center;
}
